@import '../../public/scss/index.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arta-container {
  max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
}

.arta-fullwidth {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

a.white {
  @include link-hover-animation($text-color: $white, $underline-color: $white, $duration: 0.4s, $ease: ease-out);
}

.arta-pages {
  width: 100%;
}

.arta-space {
  padding: 1.5rem;
}

.arta-mainpage {
  padding: 1.5rem;
}

.arta-title {
  margin: 1.5rem 0;
}